.wrapper {
	width:calc(100% - 150px);
	height:100%;
	top:0;
	left:0;
	position:relative;
	display:inline-block;
}

.nav {
	height:100%;
	display:inline-block;
	position:absolute;
	right:0;
	top:0;
	width:150px;
	background-color:green;
	margin:0;
	border-radius:0;
}