<div class="col-md-12 well"><a href="/admin/dashboard">Back to Dashboard</a></div>
<div class="col-md-12">
	<form>
		<div class="titleField form-group">
			<input class="form-control" name="post_title" type="text" placeholder="Title" ng-model="new.post_title">
		</div>
		<div class="contentField form-group">
			<textarea ui-tinymce class="form-control" name="post_contents" cols="5" rows="4" placeholder="Contents" ng-model="new.post_contents"></textarea>
		</div>
		<p class="bg-info">{{flash}}</p>
		<button ng-click="submit()" class="btn btn-success">Save</button>
	</form>
</div>