<div class="postDisplay">
	<p class="bg-info">{{flash}}</p>
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>ID</th>
			<th>Title</th>
			<th></th>
			<th></th>
		</tr>
		<tr ng-repeat="post in posts">
			<td><a href="/admin/edit/{{post.id}}" class="btn btn-success btn-xs">Edit</a></td>
			<td>
				<a class="btn btn-xs" ng-click="status(post)" ng-class="{'btn-success':post.live==1, 'btn-warning':post.live==0}">
					<span ng-show="post.live==1">Click for draft</span>
					<span ng-show="post.live==0">Click for live</span>
				</a>
			</td>
			<td>{{post.id}}</td>
			<td>{{post.post_title}}</td>
			<td><a ng-click="remove(post.id,$index)" class="btn btn-danger btn-xs">Delete</a></td>
		</tr>
	</table>
</div>

<div class="postControl">
	<a href="/admin/add" class="btn btn-primary">Create New Post</a>
</div>
<div class="userControl">
	<a class="btn btn-danger" ng-controller="LoginController" ng-click="logout()">Logout</a>
</div>