<h1>FRONT</h1>

<div class="row" ng-repeat="post in posts">
	<div class="col-xs-12" ng-if="post.live">
		<h3>{{post.post_title}}</h3>
		<p ng-bind-html="post.post_contents | limitTo:240 | addEllipsis"></p>
	</div>
</div>