<div id="login" class="col-md-4 col-md-offset-4">
	<div id="login-form">
		<h4>Login</h4>
		<form ng-submit="loginSubmit()" ng-controller="LoginController">
			<!--username-->
			<div class="form-group">
				<input id="email" type="text" ng-model="loginData.email"/>
			</div>
			<!--password-->
			<div class="form-group">
				<input id="password" type="password" ng-model="loginData.password"/>
			</div>
			<!--submit-->
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Login</button>
			</div>
		</form>
	</div>
</div>